html{
  overflow-x: hidden;
}

.formdiv{
  border: 2px solid gray;
  padding: 10px;
}
.please{
  text-align: center;
}
.result{
  
  width: 210px;
  position: relative;
}
.deleted{
  position: absolute;
  left: 188px;
  background: none;
  
}
.d{
  gap: 10px;
}